{require_min_otp_vsn, "R15"}.
{port_env, [
    %% Default darwin ldflags causes loading of system sqlite. Removed -bundle flag. 
    {"darwin", "DRV_LDFLAGS", 
        "-flat_namespace -undefined suppress $ERL_LDFLAGS"},

    {"solaris", "CFLAGS",
        "-std=c99"},

    {"CFLAGS", "$CFLAGS -DSQLITE_THREADSAFE=1 -DSQLITE_USE_URI -DSQLITE_ENABLE_FTS3 -DSQLITE_ENABLE_FTS3_PARENTHESIS"}
]}.
{port_specs, [
  {"priv/esqlite3_nif.so", ["c_src/esqlite3_nif.c", "c_src/queue.c", "c_src/sqlite3.c"]}
]}.

{plugins, [pc]}.

{provider_hooks,
     [{post,
       [{compile, {pc, compile}},
        {clean, {pc, clean}}]}]}.
